<td>{{ DATE }}</td>
<td>{{ FACILITY }}</td>
<td>{{ HOST }}</td>
<td>{{ PRIORITY }}</td>
<td>{{ PROGRAM }}</td>
<td><span class="label {{ level }}">{{ SEVERITY }}</span></td>
<td>{{ SEVERITY_NUM }}</td>
<td>{{ MESSAGE }}</td>
